@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,700,900|Open+Sans:400,700&subset=latin,cyrillic);
@import url(normalize.css);
/*------ typographic styles ------*/
body{
	font: 15px/24px 'Open Sans', Arial, Helvetica, sans-serif;
	height: 100%;
	color: #404040;
	background: #fff;
	min-width: 320px;
}
h1, h2, h3, h4, h5, h6{
	font-weight: 700;
	margin: 0;
	color: #000;
}
h1{
	font-size: 40px;
	line-height: 44px;
	padding: 0 0 20px;
}
h2{
	font: 36px/40px 'Roboto', Arial, Helvetica, sans-serif;
	color: #000;
	padding: 0 0 20px;
}
h3{
	font: bold 15px/24px 'Open Sans', Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	color: #000;
	padding: 0 0 19px;
}
h4{
	font-size: 14px;
	line-height: 16px;
	padding: 0 0 10px;
}
h5{
	font-size: 14px;
	line-height: 16px;
	font-weight: 100;
	padding: 0 0 5px;
}
h6{
	font-size: 12px;
	line-height: 14px;
	font-weight: 100;
	padding: 0 0 5px;
}
p{
	padding: 0 0 24px;
	margin: 0;
}
hr{
	line-height: 1px;
	height: 0;
	border: none;
	background: none;
	border-bottom: 1px solid #000;
	margin-bottom: 25px;
}
a{
	color: #00f;
	outline: none;
	text-decoration: underline;
}
a:hover{
	text-decoration: none;
}
img{
	border: none;
	vertical-align: top;
	height: auto;
}
/*reset-ul*/
[class$="-list"],
[class$="-list"] ul{
	margin: 0;
	list-style: none;
	border: 0;
	padding: 0;
	background: none;
}
/*reset-ul end*/

.max-wrap{
	max-width: 960px;
	margin: 0 auto;
	padding: 0 10px;
}
/*main wrapper*/
.wrapper{
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow: hidden;
	position: relative;
}
/*header*/
.header{
	position: relative;
	z-index: 5;
	border-bottom: 2px solid #f3f3f1;
}
/*header holder*/
.header-holder{
	padding: 29px 0 22px;
}
.header-holder:before,
.header-holder:after{
	content: "";
	display: table;
}
.header-holder:after{
	clear: both;
}
/*button menu*/
.btn-menu{
	border: 1px solid #ed4c14;
	background: #fff;
	width: 32px;
	height: 32px;
	position: relative;
	float: left;
	margin: 6px 0 16px;
	cursor: pointer;
	border-radius: 4px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	display: none;
	opacity: 0;
}
/*for all line menu*/
.btn-menu > span{
	display: block;
	width: 22px;
	height: 2px;
	position: absolute;
	left: 4px;
}
.btn-menu > span:before,
.btn-menu > span:after{
	content: "";
	position: absolute;
	top: 0;
	width: 50%;
	height: 2px;
	background: #ed4c14;
	opacity: 1;
	-webkit-transition: all 0.4s;
	transition: all 0.4s;
}
.btn-menu > span:before{
	right: 50%;
}
.btn-menu > span:after{
	left: 50%;
}
/*for all line menu end*/
/*first line menu*/
.btn-menu > span:nth-child(1){
	top: 8px;
}
.btn-menu.active > span:nth-child(1):before{
	-webkit-transform: rotate(-315deg);
	-ms-transform: rotate(-315deg);
	transform: rotate(-315deg);
}
.btn-menu.active > span:nth-child(1):after{
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	transform: rotate(315deg);
}
/*first line menu end*/
/*second line menu*/
.btn-menu > span:nth-child(2){
	top: 14px;
}
.btn-menu.active > span:nth-child(2):before{
	width: 1px;
}
.btn-menu.active > span:nth-child(2):after{
	width: 1px;
}
/*second line menu end*/
/*third line menu*/
.btn-menu > span:nth-child(3){
	top: 20px;
}
.btn-menu.active > span:nth-child(3):before{
	-webkit-transform: rotate(315deg);
	-ms-transform: rotate(315deg);
	transform: rotate(315deg);
}
.btn-menu.active > span:nth-child(3):after{
	-webkit-transform: rotate(-315deg);
	-ms-transform: rotate(-315deg);
	transform: rotate(-315deg);
}
/*third line menu end*/
/*button menu end*/
/*logo*/
.logo{
	float: left;
	width: 153px;
	height: 36px;
	margin: 0 10px 11px 0;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
.logo a{
	display: block;
	height: 100%;
	text-indent: -9999px;
	overflow: hidden;
	background: url(../img/logo.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}
/*logo end*/
/*header options*/
.header-options{
	margin: 0 -3px 0 160px;
	text-align: right;
	font-size: 0;
	letter-spacing: -4px;
}
/*main navigation*/
.nav{
	display: inline-block;
	vertical-align: top;
	text-align: left;
	line-height: 16px;
	padding: 3px 0 8px;
}
.nav-list li{
	display: inline-block;
	margin: 0 14px;
}
.nav-list li a{
	display: inline-block;
	padding: 16px 0 0;
	position: relative;
	font: 12px/16px 'Roboto', Arial, Helvetica, sans-serif;
	color: #000;
	letter-spacing: 0.03em;
	text-decoration: none;
	text-transform: uppercase;
	cursor: default;
}
.nav-list li a:link{
	cursor: pointer;
}
.nav-list li a:before{
	content: '';
	position: absolute;
	left: 50%;
	right: 50%;
	top: 0;
	height: 0;
	border-top: 3px solid #ed4c14;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.nav-list li a:hover:before,
.nav-list li.active > a:before{
	left: -12px;
	right: -12px;
}
/*main navigation end*/
/*header options end*/
/*header holder end*/
/*header end*/

/*main*/
.main{
	padding: 0 0 95px;
	position: relative;
	clear: both;
	z-index: 4;
}
/*style for all sections*/
.sect-title{
	padding: 0 0 33px;
}
.sect-title h2{
	font: 36px/40px 'Roboto', Arial, Helvetica, sans-serif;
	color: #000;
	text-align: center;
	position: relative;
	padding: 0 0 10px;
}
.sect-title h2:after{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	height: 0;
	width: 45px;
	margin-left: -22px;
	border-top: 2px solid #ed4c14;
}
.section h3{
	text-align: center;
}
/*style for all sections end*/

/*SECTION INTRO*/
.sect-intro{
	position: relative;
	background: #2ab6b7;
	overflow: hidden;
}
.sect-intro .max-wrap{
	position: relative;
	z-index: 4;
}
/*background section INTRO*/
.sect-intro-bg{
	content: '';
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 641px;
	background: url(../img/bg-intro.png) no-repeat 0 100%;
	margin: 0 0 -41px -323px;
	-webkit-background-size: contain;
	background-size: contain;
}
.sect-intro-bg:before{
	content: '';
	display: block;
	padding: 69.7% 0 0;
}
/*background section INTRO end*/

.sect-intro-holder{
	padding: 67px 0 353px;
	position: relative;
}
.sect-intro-title{
	padding: 0 55px 14px;
}
.sect-intro-title h2{
	color: #fff;
	padding: 0 0 20px;
}
.sect-intro-title h2:after{
	border-color: #fdd200;
}
.sect-intro-text{
	color: #fff;
	font-size: 15px;
	line-height: 24px;
	text-align: center;
	padding: 0 20px 34px;
	max-width: 870px;
	margin: 0 auto;
}
/*SECTION INTRO end*/

/*SECTION PAIRS*/
.sect-pairs{
	background: #fff;
}
.sect-pairs-holder{ padding: 56px 0 51px; }
.sect-pairs-title{ padding: 0 0 23px; }
.sect-pairs-title h2{ padding: 0 0 20px; }
.sect-pairs-text{
	padding: 0 20px 39px;
	margin: 0 auto;
	max-width: 830px;
	text-align: center;
}
/*top item*/
.top-item{
	text-align: center;
	padding: 0;
}
.top-item-img{
	position: relative;
	margin: 0 0 20px;
	border-radius: 50%;
}
.top-item-rate{
	position: absolute;
	left: 50%;
	top: 50%;
	font: 900 36px/40px 'Roboto', Arial, Helvetica, sans-serif;
}
.top-item-rate>span{
	position: relative;
	top: -12px;
	font-size: 21px;
}
.top-item-img img{
	border-radius: 50%;
}
.top-item-title{
	display: block;
	font: 36px/40px 'Roboto', Arial, Helvetica, sans-serif;
	color: #000;
	padding: 0 0 6px;
}
.top-item-text{
	max-width: 250px;
	margin: 0 auto;
}
.top-item-text em{
	display: block;
	font-style: italic;
	color: #a6dbef;
}
/*top item*/
/*top list*/
.top-list{
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 0 0 2px;
	margin: 0 -13px;
	font-size: 0;
	letter-spacing: -4px;
}
.top-list > li{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	letter-spacing: normal;
	padding: 0 13px 42px;
}
.top-item-01 .top-item-rate{
	left: 36.5%;
	top: 53.5%;
	color: #fd3c00;
}
.top-item-02 .top-item-rate{
	left: 44.7%;
	top: 64.1%;
	color: #56bdfa;
}
.top-item-03 .top-item-rate{
	left: 45%;
	top: 47.2%;
	color: #cc7414;
}
/*top list end*/
/*players*/
.players h3{
	padding: 0 0 20px;
}
.players-tbl{
	border-collapse: collapse;
	border-spacing: 0;
	width: 458px;
	max-width: 100%;
	margin: 0 auto;
}
.players-tbl td{
	font: 300 36px/40px 'Roboto', Arial, Helvetica, sans-serif;
	padding: 5px 13px 6px;
	border-bottom: 9px solid #fff;
}
.players-tbl .gold-place td{
	background: #fff9cd;
}
.players-tbl .silver-place td{
	background: #f6f4e8;
}
.players-tbl td:first-child{
	font-weight: normal;
	width: 241px;
}
/*players end*/
/*SECTION PAIRS end*/

/*SECTION FOR REFOVOD*/
.sect-refovod{ background: #f3f3f1; }
.sect-refovod-holder{ padding: 52px 0 29px; }
.sect-refovod-title{ padding: 0 0 23px; }
.sect-refovod-title h2{ padding: 0 0 20px; }
.sect-refovod-text{
	padding: 0 20px 33px;
	margin: 0 auto;
	max-width: 880px;
	text-align: center;
}
/*refovod list*/
.refovod-list{
	overflow: hidden;
	position: relative;
	text-align: center;
	padding: 0 0 2px;
	margin: 0 -13px;
	font-size: 0;
	letter-spacing: -4px;
}
.refovod-list > li{
	width: 33.3%;
	display: inline-block;
	vertical-align: top;
	font-size: 15px;
	letter-spacing: normal;
	padding: 0 13px 30px;
}
.refovod-item-01 .top-item-rate{
	left: 39.7%;
	top: 51.9%;
	color: #fd3c00;
}
.refovod-item-02 .top-item-rate{
	left: 53%;
	top: 36%;
	color: #ffec14;
}
/*refovod list end*/
/*SECTION FOR REFOVOD end*/

/*SECTION RULES*/
.sect-rules{
	background: #39bded;
	color: #fff;
}
.sect-rules-holder{
	padding: 76px 0 34px;
	position: relative;
}
.sect-rules-bg{
	content: '';
	position: absolute;
	left: -31px;
	top: 26px;
	width: 498px;
	max-width: 53%;
	background: url(../img/rules.png) no-repeat;
	-webkit-background-size: contain;
	background-size: contain;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}
.sect-rules-bg:before{
	content: "";
	display: block;
	padding-top: 94.8%;
}
.sect-rules-title{ padding: 0 0 40px; }
.sect-rules-title h2{
	color: #fff;
	padding: 0 0 21px;
}
.sect-rules-title h2:after{ border-color: #fdd200; }
.sect-rules-content{ padding: 0 50px; }
.sect-rules-text{
	width: 409px;
	max-width: 60%;
	margin: 0 0 41px auto;
	min-height: 144px;
	position: relative;
}
.during{
	font-weight: bold;
	padding: 0 0 24px;
	color: #fdd200;
}
.during-title{
	text-transform: uppercase;
	display: block;
}
/*SECTION RULES end*/

/*main end*/
/*main wrapper end*/
/*footer*/
.footer{
	margin: -95px auto 0;
	height: 95px;
	position: relative;
	clear: both;
	z-index: 5;
	background: #202020;
}
/*footer end*/

@media only screen and (max-width: 959px){
	/*header holder*/
	/*main navigation*/
	.nav-list li{
		margin: 0 10px;
	}
	.nav-list li a:hover:before, .nav-list li.active > a:before {
		left: -8px;
		right: -8px;
	}
	/*main navigation end*/
	/*header holder end*/
	/*SECTION RULES*/
	.sect-rules-bg{
		top: 109px;
		left: -33px;
	}
	.sect-rules-text{
		text-shadow: 1px 1px 0 #39bded;
	}
	/*SECTION RULES end*/
}
@media only screen and (max-width: 767px){
	/*header holder*/
	.header-holder{
		padding: 10px 0 0;
	}
	/*button menu*/
	.btn-menu{
		display: block;
		opacity: 1;
	}
	/*button menu end*/
	/*logo*/
	.logo{
		float: none;
		display: block;
		margin: 0 auto;
	}
	/*logo end*/
	/*header options*/
	.header-options{
		float: left;
		width: 100%;
		margin: 0;
		clear: both;
		display: none;
		padding: 0 0 15px;
		-webkit-transition: opacity 0.2s;
		transition: opacity 0.2s;
	}
	/*main navigation*/
	.nav{
		display: block;
		padding: 0;
		opacity: 0;
		-webkit-transition: all 0.2s;
		transition: all 0.2s;
	}
	.menu-expanded .nav{
		opacity: 1;
	}
	.nav-list{
		padding: 8px 0;
	}
	.nav-list li{
		display: block;
		text-align: center;
		padding: 8px;
	}
	.nav-list li a:before{
		display: none;
		content: none;
	}
	.nav-list li a{
		font-size: 14px;
		display: inline;
		padding: 0;
	}
	.nav-list li a:hover,
	.nav-list li.active a{
		color: #ed4c14;
	}
	.nav-list li.active a{
		font-weight: bold;
	}
	/*main navigation end*/
	/*header options end*/
	/*header holder end*/

	/*SECTION FOR PAIRS*/
	.top-list{ margin: 0; }
	.top-list > li{ width: 50%; }
	/*SECTION FOR PAIRS end*/

	/*SECTION FOR REFOVOD*/
	.refovod-list{ margin: 0; }
	.refovod-list > li{ width: 50%; }
	/*SECTION FOR REFOVOD end*/

	/*SECTION RULES*/
	.sect-rules .max-wrap{
		padding-left: 0;
		padding-right: 0;
	}
	.sect-rules-holder{
		min-height: 612px;
	}
	.sect-rules-bg{
		max-width: none;
		top: 109px;
		left: -77px;
		opacity: 0.7;
	}
	.sect-rules-content {
		padding: 0 20px;
	}
	.sect-rules-text {
		width: 409px;
		max-width: 50%;
		margin: 0 0 41px auto;
	}
	/*SECTION RULES end*/
}
@media only screen and (max-width: 639px){
	h2,
	.sect-title h2{
		font-size: 32px;
	}
	/*logo*/
	.logo{
		margin-top: 4px;
		width: 135px;
	}
	/*logo end*/
	/*SECTION INTRO*/
	.sect-intro-holder{
		padding-bottom: 80%;
	}
	.sect-intro-title,
	.sect-intro-text{
		padding-left: 0;
		padding-right: 0;
	}
	.sect-intro-title h2{
		font-size: 26px;
		line-height: 30px;
	}
	.sect-intro-bg{
		margin-left: 0;
		left: 50%;
		width: 110%;
		-webkit-transform: translateX(-45%);
		-ms-transform: translateX(-45%);
		transform: translateX(-45%);
		max-width: 641px;
		bottom: 35px;
	}
	/*SECTION INTRO end*/

	/*SECTION FOR PAIRS*/
	.top-list > li{
		width: auto;
		padding-bottom: 50px;
	}
	.players-tbl{
		width: 100%;
		max-width: 458px;
	}
	.players-tbl td{
		font-size: 28px;
		line-height: 32px;
	}
	/*SECTION FOR PAIRS end*/

	/*SECTION FOR REFOVOD*/
	.refovod-list > li{
		width: auto;
		padding-bottom: 50px;
	}
	/*SECTION FOR REFOVOD end*/

	/*SECTION RULES*/
	.sect-rules-holder{
		min-height: 0;
		padding: 72px 0 53px;
	}
	.sect-rules-bg{
		margin-right: 0;
		opacity: 0.3;
		height: auto;
		width: 100%;
		left: 50%;
		top: 50%;
		-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		display: none;
	}
	.sect-rules-content{
		padding: 0 20px;
	}
	.sect-rules-text{
		width: auto;
		max-width: none;
		margin: 0;
	}
	/*SECTION RULES end*/
}